#================================================
# gitignore
#================================================

/build*/
/cmd/
/doc/
/eclipse/
/src/.cproject
/src/.project
/src/.settings/
/src/*.pro.user

#================================================
