#================================================
# gitignore
#================================================

/**/build*/
/**/cmd/
/**/~*.docx
/**/eclipse/
/**/.cproject
/**/.project
/**/.settings/
/**/*.pro.user
/**/Databases/

#================================================
